@import "tailwindcss";

@font-face {
    font-family: Plaster;
    src: url(../src/assets/fonts/Plaster-Regular.ttf);
}
@theme{
    --font-Plaster:Plaster,"sans-serif";
}
@font-face{
    font-family:RubikWetPaint;
    src:url(../src/assets/fonts/RubikWetPaint-Regular.ttf)
}
@theme{
    --font-RubikWetPaint:RubikWetPaint, "sans-serif";
}
@font-face {
    font-family: Gabarito;
    src: url(../src/assets/fonts/Gabarito-VariableFont_wght.ttf);
}
@theme{
    --font-Gabarito:Gabarito,"sans-serif";
}
@font-face {
    font-family: LexendExa;
    src: url(../src/assets/fonts/LexendExa-VariableFont_wght.ttf);
}
@theme{
    --font-LexendExa:LexendExa,"sans-serif";
}
@font-face {
    font-family: DmSans;
    src: url(../src/assets/fonts/DMSans-ExtraLight.ttf);
}
@theme{
    --font-DmSans:DmSans,"sans-serif";
}